<div class="m-content">
   
    <div class="flex-div-align-justify">
      <h5>Update Driver</h5>
      <i class="zmdi zmdi-close close-model" matTooltip="Close Modal" (click)="closeModal()"></i>
    </div>
    <br>
    <form class="example-form" [formGroup]="form">
  
        <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Name" formControlName="name" >
            
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="email" placeholder="Email" formControlName="email" >
            
              <mat-error  *ngIf="!form.controls['email']?.valid">
                Email is not valid
              </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="tel" placeholder="Phone No." minlength="10" maxlength="10" formControlName="phone" >
            
          </mat-form-field>
          <!-- <div formGroupName="address">
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="House/Flat no." formControlName="lineOne" >
              
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="Locality" formControlName="lineTwo" >
              
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="Area" formControlName="area" >
              
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="City" formControlName="city" >
             
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="State" formControlName="state" >
              
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput type="number" placeholder="Pin" formControlName="pin" >
                
              </mat-form-field>
          </div> -->
          <div class="mt-2">
              <div class="img-div">
                  <img  [src]="editData?.driverDetails?.license?.image?editData?.driverDetails?.license?.image:'../../../assets/placeholder.jpg'" class="img-fluid driver-image">
                  <div (click)="lic.click()" class="image-hover">
                    Edit Licence Image
                    <input #lic type="file" (change)="onFileInput($event,'lic')" style="display:none;" />
                  </div>
                </div>
                  <div class="text-center mt-2">{{licenceImage?.name}}</div>
                  <br>
                  <div class="img-div">
                      <img [src]="editData?.driverDetails?.verification?.image?editData?.driverDetails?.verification?.image:'../../../assets/placeholder.jpg'" class="img-fluid driver-image">
                      <div (click)="polu.click()"  class="image-hover">
                          Edit Pollution Image
                          <input #polu type="file" (change)="onFileInput($event,'pol')" style="display:none;" />
                        </div>
                    
                  </div>
                  <div class="text-center mt-2">{{policeImage?.name}}</div>
                  <br>
          </div>
          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="picker" placeholder="Exp. Date" formControlName="lic_exp_date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="pol" placeholder="Exp. Date" formControlName="pol_exp_date">
            <mat-datepicker-toggle matSuffix [for]="pol"></mat-datepicker-toggle>
            <mat-datepicker #pol></mat-datepicker>
          </mat-form-field>
          
           
           
            <div >
              <mat-form-field class="example-full-width" *ngIf="group != 3">
                <mat-select placeholder="Vendor" formControlName="vendor">
                    <input matInput  #search class="search-input" placeholder="Search..."/>
                  <mat-option *ngFor="let data of allVendors|filter:search.value" [value]="data?._id">
                    {{data?.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <br>
            </div>
            <mat-form-field class="example-full-width">
                <input matInput type="password" placeholder="Password" formControlName="password" >
                
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="DL No." formControlName="dlNo" >
                  <mat-error
                    *ngIf="form.controls['dlNo'].errors?.required && (form.controls['dlNo']?.dirty || form.controls['dlNo']?.touched)">
                    DL No. is required
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Owner" formControlName="owner" >
                    <mat-option *ngFor="let data of ownerData" [value]="data?.value">
                      {{data?.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="form.controls['owner'].errors?.required && (form.controls['owner']?.dirty || form.controls['owner']?.touched)">
                    Owner is required
                  </mat-error>
              </mat-form-field>
            <br>
      <div class="my-btn">
          <mat-form-actions>
              <button class="btn btn-danger" (click)="editDriver(form.value)" >Save</button>
          </mat-form-actions>
        </div>
      <!-- <pre>{{form.value|json}}</pre> -->
    </form>
  </div>