.heading{
    padding: 10px 20px;
    border-bottom: 1px solid #e6ebf3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chart {
    padding: 25px 20px;
}
.new{
    border: 1px solid  #e6ebf3;
    border-radius: 10px;
}
.main12{
    background-color: white;
}
.subheading {
    display: flex;
    justify-content: space-between;
}

.shift-one{
    margin-bottom: 20px;
}