<div class="login">
  <div class="card">
      <!-- <h4>Login</h4> -->
      <form class="example-form" [formGroup]="loginForm">

        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="New Password" formControlName="password">
          <mat-error *ngIf="loginForm.controls['password'].errors?.required && (loginForm.controls['password']?.dirty || loginForm.controls['password']?.touched)">
            Password is required
          </mat-error>
        </mat-form-field>
        <div class="my-btn text-right">
        <button class="btn btn-danger"   [disabled]="loginForm.invalid" (click)="reset(loginForm.value)">Login</button>
        </div>
        <!-- <pre>{{loginForm.value|json}}</pre> -->
      </form>
    </div>
</div>