<div>
  
  <div class="flex-div-align-justify">
    <h5>
      <span *ngIf="matData?.for != 'edit'">Assign Driver</span>
      <span *ngIf="matData?.for == 'edit'">Change Driver</span>
    </h5>
    <i class="zmdi zmdi-close close-model" matTooltip="Close Modal" (click)="closeModal()"></i>
  </div>
  <div>
    <form class="example-form" [formGroup]="form">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Driver" formControlName="driver">
            <input matInput  #search class="search-input" placeholder="Search..."/>
          <mat-option *ngFor="let data of allDrivers | filter:search.value" [value]="data?._id">
            {{data?.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
    </form>
  </div>
</div>
<mat-dialog-actions class="right-actions">
  <button class="btn btn-danger" (click)="assignDriver(form.value)">Save</button>
  <button class="btn btn-light" (click)="removeDriver(form.value)" *ngIf="matData?.for =='edit'" style="margin-left:10px;">Remove Driver</button>
</mat-dialog-actions>