.export{
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 10;
}

.publish{
    position: absolute;
    right: 30px;
    right: 100px;
    top: 25px;
    z-index: 10;
}


.close-icon{
    position: relative;
    top: 3px;
}