<div *ngIf="!viewTable" class="dpadding">
    <div class="row" *ngIf="allRoutes?.length>0">
      <div *ngFor="let data of allRoutes" class="col-md-4 col-sm-6 col-xs-12 margin-b">
        <div class="card">
          <div class="user-name flex-justify-between">
            <b (click)="singleRouteEvent(data)"><p>{{data?.name}}<span *ngIf ="data?.routeType == 'temporary'"  matBadgeOverlap="false" matBadge="T" matBadgeSize = "small"  matBadgeColor="warn"></span></p></b>
            <div>
              <i class="zmdi zmdi-more-vert" [matMenuTriggerFor]="menu"></i>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editRouteEvent(data)" *ngIf="group != 3">Edit Roster</button>
                <button mat-menu-item (click)="deleteRouteEvent(data)" *ngIf="group != 3">Delete Roster</button>
              </mat-menu>
            </div>
          </div>  
          <div>
  
            <div>
              <p *ngIf="data?.company">Company - {{data?.company?.name}}</p>
              <p *ngIf="data?.vendor">Vendor - {{data?.vendor?.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="allRoutes?.length == 0">There are no rosters</div>
  
  </div>
  
  
  
  
  <!-- table -->
  <div class="dpadding" *ngIf="viewTable">
  <div  class="mat-elevation-z8" class="">
    <!-- <table mat-table [dataSource]="allRoutes">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let data" (click)="singleRouteEvent(data)" style="cursor: pointer;">{{data?.name}}</td>
      </ng-container>
  
  
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef> Company </th>
        <td mat-cell *matCellDef="let data"> {{data?.company?.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="vendor">
        <th mat-header-cell *matHeaderCellDef> Vendor </th>
        <td mat-cell *matCellDef="let data"> {{data?.vendor?.name}} </td>
      </ng-container>
      <ng-container matColumnDef="cab">
          <th mat-header-cell *matHeaderCellDef> Cab </th>
          <td mat-cell *matCellDef="let data"> {{data?.cab?.name}} </td>
        </ng-container>
        <ng-container matColumnDef="employee">
            <th mat-header-cell *matHeaderCellDef> Employees </th>
            <td mat-cell *matCellDef="let data"> {{data?.employees?.length}} </td>
          </ng-container>
  
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let data"> <i class="zmdi zmdi-edit" (click) = "editRouteEvent(data)" *ngIf="group != 3"></i> &nbsp;
          <i class="zmdi zmdi-delete" (click) = "deleteRouteEvent(data)" *ngIf="group != 3"></i></td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->

    <table class="table">
      <thead>
        <th>S. NO</th>
        <th>Roster Name</th>
        <th>No. of Employees</th>
        <th>Start Location</th>
        <th>Shift</th>
        <th>Vendor</th>
        <th *ngIf="status != 'draft'">Cab</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let data of allRoutes;let i= index" >
          <td>{{i + 1 + (page * 20)}}</td>

          <td (click)="singleRouteEvent(data)" style="cursor: pointer;" class="bl"><p>{{data?.name}}<span *ngIf ="data?.routeType == 'temporary'"  matBadgeOverlap="false" matBadge="T" matBadgeSize = "small"  matBadgeColor="warn"></span></p></td>
          
          <td >
            {{data?.employees?.length}}
          </td>

          <td class="td-max-width">
            <span *ngIf="data?.employees?.length>0">{{data?.employees[0].address?.lineOne}}</span>
          </td>

          <td><span *ngIf="data?.shift">{{data?.shift?.name}}({{data?.shift?.startTime}} - {{data?.shift?.endTime}})</span></td>
          <td>
              <mat-select [placeholder]="data?.vendor?data?.vendor?.name:'Assign Vendor'" class="input-width" (selectionChange)="assignVendor($event,data)" (click)="getVendors({company:data?.company?._id})">
                  <input matInput #vendorSearch class="search-input" placeholder="Search..."/>
                  <mat-option *ngFor="let data of allVendors |filter:vendorSearch.value" [value]="data?._id">
                    {{data?.name}}
                    <div class="loader-spin" *ngIf="loader"><mat-spinner   diameter="30"></mat-spinner></div>
                  </mat-option>
                </mat-select>
            </td>
          <td *ngIf="status != 'draft'">
            <!-- {{data?.cab?.name}} -->
            <!-- <mat-form-field class="input-width"> -->
                <mat-select *ngIf="group != 2" [placeholder]="data?.cab?data?.cab?.name:'Assign Cab'" class="input-width" (selectionChange)="assignCab($event,data)" (click)="getCabs({assignedTo:data?.company?._id})">
                  <input matInput #search class="search-input" placeholder="Search..."/>
                  <mat-option *ngFor="let data of allCabs |filter:search.value" [value]="data?._id">
                    {{data?.name}}
                    <div class="loader-spin" *ngIf="loader"><mat-spinner   diameter="30"></mat-spinner></div>
                  </mat-option>
                </mat-select>
                <span *ngIf="group == 2">{{data?.cab?.name}}</span>
              <!-- </mat-form-field> -->
          </td>
          <td style="min-width: 100px;">
            <button class="btn btn-primary detail-btn" (click)="singleRouteEvent(data)">Show Details</button>
            <i (click)="editRouteEvent(data)" *ngIf="group != 3" class="zmdi zmdi-edit ml-3"></i>
            <i (click)="deleteRouteEvent(data)" *ngIf="group != 3" class="zmdi zmdi-delete ml-2"></i>
            <!-- <i class="zmdi zmdi-plus-circle ml-3" matTooltip="Add a new employee to Route" (click)="addEmployee(data)" *ngIf="group !=3"></i> -->
            <!-- <i class="zmdi zmdi-account-o ml-3" (click)="assignVendor(data)" [matTooltip]="data?.vendor?'Change Vendor':'Publish to vendor'" *ngIf="group !=3"></i> -->
            <!-- <i class="zmdi zmdi-car ml-3" (click)="assignCab(data)"  *ngIf="data?.status == 'published'" [matTooltip]="data?.cab?'Change Cab':'Assign Cab'"></i> -->
          </td>
        </tr>
      </tbody>
    </table>
    
  
  </div>
  </div>