<div class="m-content">
    
    <div class="flex-div-align-justify">
      <h5>Update Company</h5>
      <i class="zmdi zmdi-close close-model" matTooltip="Close Modal" (click)="closeModal()"></i>
    </div>
    <br>
    <form class="example-form" [formGroup]="form">
  
        <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Company Name" formControlName="name" >
            
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="email" placeholder="Transport Department Email" formControlName="email" >
            
              <mat-error  *ngIf="!form.controls['email'].errors?.required && !form.controls['email']?.valid">
                Transport Department Email is not valid
              </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="tel" placeholder="Transport Department Phone No." minlength="10" maxlength="10" formControlName="phone" >
      
          </mat-form-field>
          <!-- <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Person Incharge Name" formControlName="owner_name" >
            
          </mat-form-field> -->
          <div formGroupName="companyDetails">
            <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="Person Incharge Name" formControlName="owner_name" required>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="GST Number" formControlName="gst_number">
                </mat-form-field>
        </div>
        
        <input type="text" class="google-place-input form-control" appGooglePlaces (select)="setAddress($event)" placeholder="Search Address...">

        
          <div formGroupName="address">
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="Address" formControlName="lineOne" >
              
            </mat-form-field>
            <!-- <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="Locality" formControlName="lineTwo" >
              
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="Area" formControlName="area" >
              
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="City" formControlName="city" >
             
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="State" formControlName="state" >
              
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput type="number" placeholder="Pin" formControlName="pin" >
                
              </mat-form-field> -->
          </div>
          <!-- <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="GST Number" formControlName="gst_number" >
            
          </mat-form-field> -->
          <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Password" formControlName="password" >
            
          </mat-form-field>
      <div class="my-btn">
          <mat-form-actions>
              <button class="btn btn-danger"  (click)="editCompany(form.value)" >Save</button>
          </mat-form-actions>
        </div>
      <!-- <pre>{{form.value|json}}</pre> -->
    </form>
  </div>