<div class="header-height">
  <div>
    <h5>Dashboard</h5>
  </div>
    <div class="text-right">
    <form class="filter-div" [formGroup] ="form">
      <mat-form-field  *ngIf="group != 2">
        <mat-select placeholder="Company" formControlName="company">
          <mat-option *ngFor="let data of allCompanies" [value]="data._id">
            {{data?.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field  class="ml-3" *ngIf="group != 3">
        <mat-select placeholder="Vendor" formControlName="vendor">
          <mat-option *ngFor="let data of allVendors" [value]="data._id">
            {{data?.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="btn btn-danger ml-3" (click)="filter(form.value)">Filter</button>
      <button class="btn btn-light ml-3" (click)="clear()">Clear</button> 
    </form> 
    </div>
</div>
<div class="count-dash">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
          <i class="zmdi zmdi-city-alt i-1"></i>
        <div>
            <h1>{{allData?.companyCount}}</h1>
            <p>Companies</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
          <i class="zmdi zmdi-accounts-outline i-2"></i>
        <div>
            <h1>{{allData?.vendorCount}}</h1>
            <p>Vendors</p>
        </div>
      </div>
    </div>
    <div class="col-md-3" *ngIf="group != 2">
      <div class="card">
          <i class="zmdi zmdi-car i-3"></i>
        <div>
            <h1>{{allData?.cabCount}}</h1>
            <p>Cabs</p>
        </div>
      </div>
    </div>
    <div class="col-md-3" *ngIf="group != 2">
      <div class="card">
          <i class="zmdi zmdi-bike i-4"></i>
        <div>
            <h1>{{allData?.driverCount}}</h1>
            <p>Drivers</p>
        </div>
      </div>
    </div>
    <div class="col-md-3" *ngIf="group != 3">
        <div class="card">
            <i class="zmdi zmdi-face i-1"></i>
         <div>
            <h1>{{allData?.employeeCount}}</h1>
          <p>Employees</p>
         </div>
        </div>
      </div>
    <div class="col-md-3" >
        <div class="card">
            <i class="zmdi zmdi-gesture i-2"></i>
          <div>
              <h1>{{allData?.routeCount}}</h1>
              <p>Routes</p>
          </div>
        </div>
      </div>
      <div class="col-md-3" >
          <div class="card">
              <i class="zmdi zmdi-map i-3"></i>
           <div>
              <h1>{{allData?.tripCount}}</h1>
            <p>Trips Done</p>
           </div>
          </div>
        </div>
        <div class="col-md-3" >
            <div class="card">
                <i class="zmdi zmdi-map i-4"></i>
             <div>
                <h1>{{allData?.todayTripCount}}</h1>
              <p>Active Trips</p>
             </div>
            </div>
          </div>
         
  </div>
</div>
<div>
  <app-shifts></app-shifts>
</div>