<div class="login">
  <div class="">
      <!-- <h4>Login</h4> -->
      <form class="example-form" [formGroup]="form">

        <p>Enter the registered email to reset your password.</p>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput type="email" placeholder="Email" formControlName="email">
          <mat-error *ngIf="form.controls['email'].errors?.required && (form.controls['email']?.dirty || form.controls['email']?.touched)">
              Email is required
            </mat-error>
            <mat-error  *ngIf="!form.controls['email'].errors?.required && !form.controls['email']?.valid">
              Email is not valid
            </mat-error>
        </mat-form-field>

        <div class="my-btn text-right">
        <button class="btn btn-danger"   [disabled]="form.invalid" (click)="forgot(form.value)">Save</button>
        </div>
        <!-- <pre>{{form.value|json}}</pre> -->
      </form>
    </div>
</div>