.vendor-driver{
    border-left:1px solid #e6ebf3;
    padding-left:20px;
    height: 100%;
}

.vendor-card{
    padding:15px;
    border:1px solid #e6ebf3;
    border-radius: 3px;
    margin: 20px 0;
    position: relative;
    cursor: pointer;
}

.vendor-card:hover{
    .close-icon{
        display: block;
    }
}

.cab-tab{
    padding-top:20px;
}
.tab-content{
    // padding:25px 0;
    padding: 10px 0;
    // display: flex;
    // justify-content: space-between;
    // .row{
    //     width: 100%;
    // }
}

.img-tab{
    height: 200px;
    margin-bottom: 20px;
    border:1px solid #e6ebf3;
    border-radius: 3px;
}

.vendor-card{
    padding:15px;
    border:1px solid #e6ebf3;
    border-radius: 3px;
    margin-bottom: 20px;
}

.row{
    width: 100%;
    margin:0;
}

.close-icon{
    position: absolute;
    top: -12px;
    right: -11px;
    font-size: 26px;
    display: none;
    transition:0.5s;
    color: #cecece;
}